{
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	],
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "strict",
	"insertPragma": false,
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 1,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"parser": "babel"
}
