// =============================================================================
// Colors
// =============================================================================

// Primary Colors
$color-primary:                 #002FBB;
$color-primary-dark:            #000056; 
$color-primary-bright:          #0066FF;
$color-secondary:               #FDBC00;

// Neutrals
$color-beige:               #F1F4F6;
$color-grey:                #3F3D56;
$color-grey-light:            #737888;
$color-grey-light-very:     #e7e8e9;
$color-grey-light-super:    #f6f6f6;
$color-black: 		        #1a1b1d;
$color-black-full: 	        #000000;
$color-white: 		        rgb(255,255,255);

// Notification colors
$color-error: 			    #f95355;
$color-success: 		    #4CAF50;
$color-warning: 		    orange;