.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  
}
.logo {
  height: 200px;
  width: 200px;
  background: url(/images/logo.png) no-repeat center center local;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 5px 20px 0 hsl(212 15% 15%);
  backdrop-filter: blur(10px);
  background-origin: content-box;
  padding: 1rem;
}

.glass-panel {
  color: #fff;
  margin: 40px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  // width: 100%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px 0 hsl(212 15% 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glass-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button:hover {
  background-color: rgba(255,255,255,0.2);
}

/* Extra styles for demo */
/* Article:  https://superdevresources.com/glassmorphism-ui-css/ */
body {
  background: url(/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.glass-panel {  
  max-width: 600px;
}

.glass-button {
  margin: 15px;
  margin-top: 40px;
}

h1, h1 a {
  min-height: 120px;
  width: 90%;
  max-width: 700px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  padding-top: 60px;
  color: rgba(255,255,255,0.8);
}

p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 32px;
  color: rgba(255,255,255,0.6);
}

.card-container {
  display: flex;
  width: 100%;
  padding: 2rem;
  div {
    margin: 16px;
    flex:1
  }
}
.glass-card {
  padding: 30px 35px 35px;
  display: grid;
  justify-items: center;
  z-index: 2;
  position: relative;
  margin-inline: 15px;


  /** GLASSMORPHISM **/

  background-color: hsl(var(--clr-grey-alt) /.80);
  box-shadow: 0 5px 20px 0 hsl(212 15% 15%);
  -o-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
  color: rgba(255,255,255,0.8);
  padding: 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
}

@supports (backdrop-filter: blur(15px)) {
  .glass-card {
    background-color: hsl(var(--clr-white) /.12);
    -webkit-backdrop-filter: blur(10px);

  backdrop-filter: blur(10px);
  }
}