.container {
  // background-image: url(https://previews.123rf.com/images/antonel/antonel1508/antonel150800006/44134714-old-paper-texture.jpg);
  background-color: #fff;
        display: inline-block;
        // margin: 55px 75px 30px;
        padding: 15px 15px 30px;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        -webkit-transition: all .20s linear;
        -moz-transition: all .20s linear;
        transition: all .20s linear;
        z-index: 0;
        position: relative;
        width: 100%;
        height: 500px;
        cursor: pointer;
        overflow: hidden;
        &:after {
          color: #333;
          font-size: 25px;
          content: attr(title);
          position: relative;
          top: 15px;
        }

        // .polaroid img {
        //   display: block;
        //   width: 250px;
        // }
        &:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          transform: scale(1.2);
          z-index: 10;
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
          -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
          box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
          // .details-container {
          //   bottom: 0;
          // }
          .card_footer .card_text {
            opacity: 1;
            transform: translateY(0);
            text-shadow: 0 1px 4px #0002;
          }
          .card_footer{
            bottom: 0;
            transition-delay: 0s;
          }
        }
}

.component-container {
  height: 100%;
  // width: 100%;
  overflow: hidden;
  
}
.component-wrapper {
  overflow: hidden;
    transform: scale(0.43);
  transform-origin: top left;
  text-align: left;
  width: fit-content;
}

.marker-container {
  top: 0;
  right:0;
  position: absolute;
  display: flex;
  padding: 8px;
}
.marker {
  width:7px;
  height:7px;
  border-radius:50%;
  top:40%;
  margin-right: 8px;
}

.rating-container {
  bottom: 0;
  right:0;
  position: absolute;
  display: flex;
  padding: 8px;
  z-index: 2;
  .MuiRating-root  {
    background-image: linear-gradient(
      to right,
      #462523 0,
             #cb9b51 22%, 
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
      ) !important;
       color:transparent !important;
       -webkit-background-clip:text !important;
  }
  
}
.details-container {
  position: absolute;
  height: 50%;
  bottom: -100%;
  left: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  transition: bottom 0.5s ease;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, .5);


  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(70,960,445)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  // background-attachment: fixed;
  // background-size: contain;
  
}

.details-wrapper {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 3;
  padding: 8px;
  // width: 80%;
  // padding: 20px;
  height: 100%;
  text-align: left;
  h3 {
    font-size: medium;

      text-align: center;
      position: relative;
    span{
      padding: 0 15px;
      // background-color: #fff;
    }
    /* Following style will create RED line*/
    &:before{
      border-bottom: 1px solid red;
      content: "";
      top: 50%;
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      width: 80%; /* You can specify any value for width.*/
      margin: auto;
    }
    
  }
  p{
    font-size: small;
    font-weight: 100;
  }
}




.card_footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100%;
  text-align: left;
  // text-transform: uppercase;
  background-color: #2196f342;
  // background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  color: #fff;
  bottom: -100%;
  box-shadow: 0 -8px 10px #0002;
  padding: 35px 10px;
  backdrop-filter: blur(15px);
  transition: bottom 0.5s;
  transition-delay: 1.6s;
  text-shadow: 2px 2px #000000;
  height: 50%;
}

// .card_footer {
//   bottom: -100%;
//   transition-delay: 0s;
// }

.card_footer .card_text {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.5s;
  transition-delay: 1s;
}

.card_footer .card_text > * {
  margin: 0;
  padding: 2px 15px;
  font-size: 18px;
  font-weight: 500;
}

.card_footer .card_text .description {
  text-transform: none;
  font-size: 10px;
  font-weight: 100;
  // text-shadow: 1px 1px #000000;
}

.card_footer .social_box {
  display: flex;
  gap: 15px;
  justify-content: center;
  text-shadow: 0 0 4px #0003;
}

.card_footer .social_box a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.4s ease-in;
  cursor: pointer;
  transition-delay: calc(0.15s * var(--i));
}

.card_footer .social_box a {
  opacity: 1;
  transform: translateY(0);
}

.card_footer .social_box a .icon {
  transition: 0.2s ease-in-out;
}

.card_footer .social_box a:hover .icon {
  color: #80b0ff;
  text-shadow: 0 1px 4px #fff1;
}