

// Button White Polygon
.btn-white--outlined {
    position: relative;
    display: block;
    // box-shadow: inset 0 0 4px black;
    margin-top: $spacer-lg;
    padding: 0 $spacer-xl;
    color: white;
    line-height: 56px;
    text-align: left;
    transform-style: preserve-3d;

    &:after {
        @include simple-transition(2x);
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background-color: $color-primary-alt;
        transform-style: preserve-3d;
        clip-path: polygon(0% 0%, 100% 10%, 90% 100%, 10% 100%);
        z-index: 2;
    }

    &:before {
        @include simple-transition(2x);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 56px;
        background-color: $color-white;
        transform-style: preserve-3d;
        clip-path: polygon(0% 0%, 100% 10%, 90% 100%, 10% 100%);
        z-index: 1;
    }

    .btn-label {
        @include simple-transition(2x);
        position: relative;
        font-size: $theme-fs-nm;
        font-weight: $theme-fw-bold;
        z-index: 4;
        color: white;
    }

    .btn-icon {
        &--img {
            position: absolute;
            z-index: 4;
            right: 48px;
            top: 22px;
        }
    }

    // Hover
    &:hover {
        &:before {
            transform: rotateX(180deg);
            background-color: $color-white;
        }

        &:after {
            transform: rotateX(180deg);
            background-color: $color-white;
        }

        .btn-label {
            color: $color-primary;
            z-index: 4;
        }

        .btn-icon--img {
            top: 18px;
        }
    }
}
