
// Navbar Collapse
.navbar-main .navbar-collapse {
    @include breakpoint(md) {
        position: relative;
        margin-top: -56px;
        margin-left: -18px;
        margin-right: -32px;
        padding: 72px $spacer-lg $spacer-sm $spacer-md;
        background-color: darken($color-primary-dark, 6%);
        z-index: 0;
    }
    
}

body.global-menu--open {
    overflow: hidden;
}

.navbar-primary {
    margin-right: $spacer-nm;
    .nav-link {
        font-size: $theme-fs-nm;
        color: $color-white;
    }
}