
// Section Questions
.section-wintop {
    position: relative;
    padding: $spacer-nm*5 0 0 0;

    &-container {
        display: grid;
        // grid-template-columns: 1fr 1.4fr;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
    }

    // Shower
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 440px;
        top: 0;
        background: url(/images/events/pub/img-shower.svg) repeat left top;
        animation: showerFlow 10s linear infinite forwards;
    }

    // &:after {
    //     position: absolute;
    //     content: "";
    //     width: 100%;
    //     height: 356px;
    //     top: 0;
    //     opacity: 0;
    //     background: url(/images/events/pub/img-shower.svg) repeat-x left top;
    //     animation: showerFlow 10s linear 3s infinite forwards;
    // }
}

// Section Questions
.section-questions {
    position: relative;
    padding: $spacer-nm*5 0;
    background: $color-white url(/static/images/events/pub/img-questions.svg) no-repeat;
    $right-pos: calc(94vw - 400px);
    background-position: $right-pos $spacer-lg;

    @media screen and (max-width: $screen-md-min) {
        $right-pos: calc(94vw - 260px);
        background-position: $right-pos $spacer-lg;
    }

    &:before {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-secondary-light-super, 0.9);
        z-index: 0;

        @media screen and (max-width: $screen-sm-min) {
            display: block;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .questions-container {
        margin-top: $spacer-xl;
        background-color: $color-white;
        padding: $spacer-xl;
        min-height: 400px;
    }
}

// Section Questions
.section-answers {
    position: relative;
    padding: $spacer-nm*5 0;
    background: transparent url(/images/events/pub/img-answers.svg) no-repeat;
    $right-pos: calc(94vw - 260px);
    background-position: $right-pos $spacer-lg;

    &:before {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-white, 0.9);
        z-index: 0;

        @media screen and (max-width: $screen-sm-min) {
            display: block;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .list-qa {
        list-style-type: decimal;
        list-style-position: inside;
        margin-left: 0;

        &__item {
            padding-bottom: $spacer-lg;
            border-bottom: solid 1px $color-grey-light-very;
            margin-bottom: $spacer-lg;
            color: $color-primary-dark;
            font-weight: $theme-fw-bold;

            &:last-child {
                border-bottom: 0;
            }
        }
        img {
          min-height: unset !important;
          height: 200px  !important;
          min-width: unset  !important;
          width: unset !important;
          display: block;
        }
    }
    
    .list-answers {
        margin-left: $spacer-xl;
        list-style-type: lower-alpha;
        color: $color-grey-light;
        font-weight: $theme-fw-regular;
 
        .answer-correct {
            font-weight: $theme-fw-regular;
            color: $color-success;
            
            &:after {
                content:"";
                position: relative;
                top: 4px;
                margin-left: $spacer-sm;
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(/images/events/pub/icon-success.svg) no-repeat left top;
                background-size: contain;
            }
        }
    }
}


// Box Winner
.box-winner {
    padding: $spacer-nm*5;
    border-top-left-radius: 2vw;
    border-top-right-radius: 10vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 10vw;
    background-color: $color-primary-alt;
    text-align: center;

    @media screen and (max-width: $screen-md-min) {
        border-top-right-radius: 16vw;
        border-bottom-right-radius: 2vw;
        border-bottom-left-radius: 16vw;
    }

    .box-title {
        font-family: $font-family-secondary;
        font-size: $theme-fs-xxl;
        color: $color-white;
        text-shadow: 4px -8px 0 $color-primary-dark;
    }

    .winner-graphics-container {
        position: relative;
        margin-top: $spacer-xl;
        height: 200px;
        > span {
          position: absolute !important;
            width:100%;
            left: 0;
            height: max-content;
        }
        >span:nth-child(1) {
          top: -75px
        }
        >span:nth-child(2) {
          top: 24px
        }
        .winner-bggraphics {
            transform: translateY(-18%);
            mix-blend-mode: soft-light;
            animation: rotateClockwise 8s linear infinite;
        }

        .winner-graphics {
            position: relative;
            top: 54px;
            left: 8px;
        }
    }

    .winner-name {
        margin: $spacer-xxl 0 0 0;
        font-size: $theme-fs-lg;
        font-weight: $theme-fw-bold;
        color: $color-white;
        line-height: $theme-lh-sm;
    }

    .winner-email {
        font-size: $theme-fs-nm;
        color: $color-tertiary;
        line-height: $theme-lh-sm;
    }
}

// Box Topper
.box-topper {
    padding: $spacer-nm*5 $spacer-nm*4;
    border-top-left-radius: 2vw;
    border-top-right-radius: 10vw;

    @include breakpoint(sm) {
        padding-left: 0;
        padding-right: 0;
    }

    .box-title {
        font-family: $font-family-secondary;
        font-size: $theme-fs-xxl;
        color: $color-primary-dark;
        text-align: center;
        text-shadow: 3px -4px 0 $color-secondary;
    }

    .winner-name {
        margin: $spacer-lg 0 0 0;
        font-size: $theme-fs-lg;
        font-weight: $theme-fw-bold;
        color: $color-white;
        line-height: $theme-lh-sm;
    }

    .winner-email {
        font-size: $theme-fs-nm;
        color: $color-tertiary;
        line-height: $theme-lh-sm;
    }
}

.box-topper .list-toppers {
    position: relative;
    z-index: 1;
    margin: $spacer-lg 0 0 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - #{$spacer-lg}), 1fr));
    grid-auto-rows: minmax(42px, min-content);
    grid-gap: $spacer-lg;

    .list-item {
        margin: 0;
        padding: 0 0 0 40px;
        list-style: none;
        background: url(/images/events/pub/icon-trophy.svg) no-repeat left top;
    }

    .topper-name {
        margin-top: $spacer-xs;
        font-size: $theme-fs-nm--l;
        font-weight: $theme-fw-regular;
        color: $color-primary-bright;
        line-height: $theme-lh-min;
    }

    .topper-email {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $theme-fs-sm;
        color: $color-grey-light;
        line-height: $theme-lh-sm;

        &:hover,
        &:focus {
            color: $color-primary-alt;
        }
    }
}