// =============================================================================
// Colors
// =============================================================================

// Primary Colors
$color-primary:                 #2E2A7A;
$color-primary-alt:             #3441AF;
$color-primary-dark:            #28256B; 
$color-primary-bright:          #5C65FF;
$color-secondary:               #45F7F6;
$color-secondary-light-super:   #EBF3F9;
$color-tertiary:                #FDBC00;

// Neutrals
$color-beige:               #f0ebe8;
$color-grey:                #5e6166;
$color-grey-light:          #A8A7C2;
$color-grey-light-very:     #e7e8e9;
$color-grey-light-super:    #f6f6f6;
$color-black: 		        #1a1b1d;
$color-black-full: 	        #000000;
$color-white: 		        rgb(255,255,255);

// Notification colors
$color-error: 			    #f95355;
$color-success: 		    #4CAF50;
$color-warning: 		    orange;